body		{
	lang : es;
	font-family : Helvetica, sans-serif;
	font-size : 14px;
	font-style : normal;
	background-color : white;
	color : black;
	margin-left: 3cm;
	margin-right:3cm;
}

body.cabecera	{
	background-image: none;
	background-color: navy;
	align : center;
	text-align : center;
	margin-left: 0cm;	
	margin-right:0cm;
}

body.menu	{
    align : center;
    text-align : center;
    color : white;
    margin-left: 0cm;
	margin-right:0cm;
	background-image: none;
	background-color : maroon;
}

table 		{
	text-align : left;
}
table.grande	{
	width : 100%;
	
}

hr.corta	{
	width : 50%;
}

p		{
	text-align : justify;
}
pre		{
	font-family : sans-serif;
}

h1		{
	color : yellow;
	text-align : center ;
}
h2, h3, h4	{
	text-align : right;
	color: black;
}
a:hover 	{
	color : white;
	background: #63659C;
	font-weight : bold;
}
:active,:link,:visited	{
	color : silver;
    font-weight : bold;
}

img		{
	border : 0px;
}

cite    {
    font-weight : bold;
}